[Unit]
Description=Setup system to export rbd images through LIO

Requires=sys-kernel-config.mount
After=sys-kernel-config.mount network-online.target rbd-target-api.service
Wants=network-online.target

[Service]
LimitNOFILE=1048576
LimitNPROC=1048576
Environment=PYTHONUNBUFFERED=TRUE
EnvironmentFile=-/etc/sysconfig/ceph
Type=simple
User=root
Group=root
ExecStart=/usr/bin/rbd-target-gw
ExecReload=/usr/bin/kill -HUP $MAINPID
PrivateDevices=yes
ProtectHome=true
ProtectSystem=full
PrivateTmp=true
Restart=on-failure
StartLimitInterval=30min
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
