[Unit]
Description=Ceph iscsi target configuration API

Requires=sys-kernel-config.mount
After=sys-kernel-config.mount network-online.target rbd-target-gw.service
BindsTo=rbd-target-gw.service
Wants=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/ceph
Type=simple
User=root
Group=root
ExecStart=/usr/bin/rbd-target-api
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
